In [20]:
#pip install pandas 
#pip install --upgrade pip

In [23]:

import pandas as pd #Importa a bibliotca Pandas como pd

In [52]:
#Cria um dicionario com os valores abaixo
Dicionario ={
    "A":[1,2,3,4,5,6,7],
    "B":[8,9,10,11,12,13,14],
    "C":[15,16,17,18,19,20,21],
}
Labels = "1ª Linha", "2ª Linha", "3ª Linha","4ª Linha","5ª Linha","6ª Linha","7ª Linha"
#Cria o DataFrame com os dados/valores do Dicionario 
df = pd.DataFrame(Dicionario, index=Labels)

In [53]:
df.head() #df.head(2)
df.head(2)

          A  B   C
1ª Linha  1  8  15
2ª Linha  2  9  16

In [54]:
df.tail() #Exibi as 4 primeiras linhas do DataFrame

          A   B   C
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ª Linha  6  13  20
7ª Linha  7  14  21

In [55]:
df['D'] = df['C']*df['A']

In [56]:
df.head()

          A   B   C   D
1ª Linha  1   8  15  15
2ª Linha  2   9  16  32
3ª Linha  3  10  17  51
4ª Linha  4  11  18  72
5ª Linha  5  12  19  95

In [57]:
df.drop('D',axis=1) #Exclui a coluna D;axis = 1 é pela coluna

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ª Linha  6  13  20
7ª Linha  7  14  21

In [58]:
df.head()

          A   B   C   D
1ª Linha  1   8  15  15
2ª Linha  2   9  16  32
3ª Linha  3  10  17  51
4ª Linha  4  11  18  72
5ª Linha  5  12  19  95

In [59]:
df.drop('D',axis=1,inplace=True) #Exclui a coluna D definitivamente do dataFrame

In [60]:
df.head(7)

          A   B   C
1ª Linha  1   8  15
2ª Linha  2   9  16
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19
6ª Linha  6  13  20
7ª Linha  7  14  21

In [61]:
df.iloc[2:5] #Exibe da linha 2 a linha 5

          A   B   C
3ª Linha  3  10  17
4ª Linha  4  11  18
5ª Linha  5  12  19

In [62]:
df.iloc[2:5,:1] #Exibe da linha 2 a linha 5 e somente a primeira coluna

          A
3ª Linha  3
4ª Linha  4
5ª Linha  5

In [63]:
df.iloc[2:5,:2] #Exibe da linha 2 a linha 5 e as duas colunas

          A   B
3ª Linha  3  10
4ª Linha  4  11
5ª Linha  5  12

In [64]:
df.loc[["1ª Linha","3ª Linha"],['A','B']] #Loc o filtro é com o nome  da linha e da coluna

          A   B
1ª Linha  1   8
3ª Linha  3  10